@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1280px] mx-auto;
}

/* END: General styles */


/* START: Product Card styles */
.product-card-wrapper {
  @apply grid grid-cols-2 md:grid-cols-3 gap-3;
}

/* END: Product Card styles */